<div class="modal-header">
  <pichincha-typography
    variant="h4"
    color="blue"
    weight="normal"
    weight_color="500"
    align="inherit"
    class="modal-title w-100">
    Seleccionar persona
  </pichincha-typography>
  <button id="btn-close-form-asignaciones"
          type="button"
          class="close"
          aria-label="Close"
          (click)="close()">
    &times;
  </button>
</div>

<div id="body-modal-form-asignaciones" class="modal-body">

  <!--#region Filters-->
  <app-custom-input ngDefaultControl
                    type="text"
                    placeholder="Buscar por nombre"
                    [formControl]="filter"
                    [maxLength]="21"
                    [fullWidth]="false"
                    [showLabel]="false">
  </app-custom-input>
  <!--#endregion-->

  <!--#region Table-->
  <ng-container *ngIf="(paginationPerson$ | async) as dataTable; else elseError">
    <div class="dt-responsive mb-3 mt-3">
      <table aria-describedby="table-person" class="pichincha-table">
        <thead>
        <tr>
          <th *ngFor="let column of columns" class="pichincha-table-header">
            <pichincha-typography variant="bodyText"
                                  color="grey"
                                  weight="bold"
                                  weight_color="500"
                                  align="inherit">
              {{column.caption}}
            </pichincha-typography>
          </th>
        </tr>
        </thead>

        <tbody>
        <pichincha-typography *ngIf="dataTable.totalElements === 0; else totalElements"
                              class="text-truncate ml-2 mt-3"
                              variant="bodyText"
                              color="blue"
                              weight="normal"
                              weight_color="500"
                              align="inherit">
          No hay personas registradas
        </pichincha-typography>
        <ng-template #totalElements>
          <tr *ngFor="let person of dataTable.personToList"
              class="border-bottom list-person" (click)="onPersonClick(person)">
            <td>
              {{(person.name + ' ' + person.lastName) | uppercase}}
            </td>
            <td>
              {{person.email}}
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>

    <app-tb-pagination id="paginationPerson"
                       [size]="size"
                       [current]="currentPage"
                       [total]="dataTable.totalElements"
                       [optionSize]="optionSize"
                       (evtRange)="setupPagination($event)"
    ></app-tb-pagination>
  </ng-container>
  <!--#endregion-->

  <!--#region Else error table-->
  <ng-template id="formAsignacionesModalError" #elseError>
    <div *ngIf="showSpinner; else elseSpinner" class="d-flex align-items-center justify-content-center">
      <pichincha-spinner background="#ffdd00"
                         border="4"
                         color="#f3f4f7"
                         size="96"
      ></pichincha-spinner>
    </div>
    <ng-template #elseSpinner>
      <pichincha-typography
        variant="bodyText"
        color="blue"
        weight="normal"
        weight_color="500"
      >
        Es posible que el enlace que seleccionaste esté roto o que se haya eliminado la página.
      </pichincha-typography>
    </ng-template>
  </ng-template>
  <!--#endregion-->

</div>


<div class="modal-footer">
  <pichincha-button size="large"
                    color="secondary"
                    (click)="close()">
    Cancelar
  </pichincha-button>
</div>


