<div class="modal-header ">
  <pichincha-typography variant="h4"
                        color="blue"
                        weight="normal"
                        weight_color="500"
                        align="inherit"
                        class="modal-title w-100">
    {{title}}
  </pichincha-typography>
  <button id="btn-close-form-person-skills" type="button" class="close" aria-label="Close" (click)="close()">&times;
  </button>
</div>

<div id="body-modal-form-person-skills" class="modal-body">

  <!--#region Filters-->
  <div class="row mb-3">
    <div class="col-lg-4">
      <app-custom-input ngDefaultControl
                        [(ngModel)]="searchNameSkill"
                        [fullWidth]="true"
                        type="text"
                        label=""
                        placeholder="Buscar"
                        [maxLength]=20>
      </app-custom-input>
    </div>
  </div>
  <!--#endregion-->

  <!--#region Table-->
  <div class="dt-responsive mb-3">
    <table aria-describedby="table-form-person-skills"
           class="pichincha-table">
      <thead>
      <tr>
        <th *ngFor="let column of columns"
            class="pichincha-table-header">
          <pichincha-typography variant="bodyText"
                                color="grey"
                                weight="bold"
                                weight_color="500"
                                align="inherit">
            {{column.caption}}
          </pichincha-typography>
        </th>
      </tr>
      </thead>

      <tbody *ngIf="skillsCatalog as skills">
      <pichincha-typography *ngIf="skills.length === 0; else totalElements"
                            class="text-truncate ml-2 mt-3"
                            variant="bodyText"
                            color="blue"
                            weight="normal"
                            weight_color="500"
                            align="inherit">
        No hay habilidades registradas
      </pichincha-typography>
      <ng-template #totalElements>
        <tr class="border-bottom"
            *ngFor="let skill of skills | filterSkill: searchNameSkill: ''">
          <td>
            {{skill.typeSkill}}
          </td>
          <td>
            {{skill.nameSkill}}
          </td>
          <td>
            <div class="d-flex align-items-center">
              <pichincha-check-box id-element="{{skill.nameSkill}}"
                                   value="{{skill.id}}"
                                   [checked]="selections.isSelected(skill.id)"
                                   (clickCheck)="onClickCheckbox($event)"
              ></pichincha-check-box>
            </div>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>

  <pichincha-typography
    class="text-truncate mt-2"
    variant="smallText"
    color="darkGrey"
    weight="normal"
    weight_color="500"
    style="padding-left: 2%;"
    align="inherit">
    Seleccionadas: {{selections.selected.length}}
  </pichincha-typography>
  <!--#endregion-->

</div>

<div class="modal-footer">
  <pichincha-button
    style="width: 150px"
    size="large"
    color="secondary"
    (click)="close()">
    Cancelar
  </pichincha-button>
  <pichincha-button
    style="width: 150px"
    type="submit"
    size="large"
    color="primary"
    (click)="onAddSkills()">
    Aceptar
  </pichincha-button>


</div>
