@pichincha:registry=https://pkgs.dev.azure.com/BancoPichinchaEC/BP-Framework/_packaging/Framework/npm/registry/
//pkgs.dev.azure.com/BancoPichinchaEC/BP-Framework/_packaging/Framework/npm/registry/:username=BancoPichinchaEC
//pkgs.dev.azure.com/BancoPichinchaEC/BP-Framework/_packaging/Framework/npm/registry/:_password=bXVyNGRoZXRmdmM0dXozM2JhendkY3l5ZGU1ZGhiMmxkc2RvNGd4aXF1eHl3dzZra3poYQ==
//pkgs.dev.azure.com/BancoPichinchaEC/BP-Framework/_packaging/Framework/npm/:username=BancoPichinchaEC
//pkgs.dev.azure.com/BancoPichinchaEC/BP-Framework/_packaging/Framework/npm/:_password=bXVyNGRoZXRmdmM0dXozM2JhendkY3l5ZGU1ZGhiMmxkc2RvNGd4aXF1eHl3dzZra3poYQ==
